/* ============================================================================================
/** Main Nav Dropdown
=============================================================================================== */

.nav-dropdown {
  list-style: none;

  &__item {
    text-align: left;
  }

  &__link {
    color: $white;
    font-size: 1.2rem;
    &:hover {
      text-decoration: none;
      color: $grey;
    }
  }
}