/* ============================================================================================
/** Base Styles
===============================================================================================*/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: $font-size-base; // this will affect all 'rem' and 'em' based units
}

body {
	margin: 0 !important;
  padding: 0 !important;
	font-family: $font-primary;
	letter-spacing: 2px;
	background: $color-secondary;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-secondary;
}